# Webserver
Flask>=2.3.3
Flask-Cors>=4.0.0

# STT
vosk>=0.3.45
soundfile>=0.12.1
numpy>=1.24.3

# LLM (TinyLLaMA via llama-cpp-python)
llama-cpp-python>=0.2.72

# Werkzeug
uuid
requests>=2.31.0  # Für Minimax API