# Webserver
Flask>=2.3.3
Flask-Cors>=4.0.0

# STT
vosk>=0.3.45
soundfile>=0.12.1
numpy>=2.0.0

# TTS (Coqui - Tacotron2-DDC)
TTS>=0.22.0
torch>=2.3

# LLM (TinyLLaMA via llama-cpp-python)
llama-cpp-python>=0.2.72

# Werkzeug für sichere UUID-Generierung
uuid